 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: #cce6ff;
            font-family: "Cantora One", sans-serif;
        }

        .convertor-box {
            width: 300px;
            height: 350px;
            margin: 50px auto;
            padding: 20px;
            border-radius: 20px;
            background-color: #ffffff;
            box-shadow: 1px 2px 10px #9c9c9c4d;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .heading-container {
            display: flex;
            justify-content: center;
        }

        .heading {
            color: #3d3d5c;
        }

        .thermometer-icon {
            display: block;
            margin: 0 auto;
        }

        .inputs-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 30px 0 60px 0;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        /* To remove Spinner Controls*/
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-inner-spin-button

        /*,*/
        /* input::-webkit-outer-spin-button */
            {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input {
            -moz-appearance: textfield;
        }

        input {
            height: 30px;
            width: 90%;
            border-radius: 10px;
            border: 1px solid #91919e;
            text-align: center;
            color: #767575;
        }

        .buttons-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        button {
            width: 100%;
            height: 30px;
            border-radius: 7px;
            padding: 3px 0;
            font-size: 16px;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }

        .btn-convert {
            background-color: #1a8cff;
            color: #ffffff;
        }

        .btn-convert:hover {
            background-color: #0761ba;
        }

        .btn-reset {
            background-color: #e3e0e0;
            color: #5a5a5a;
        }

        .btn-reset:hover {
            background-color: #bdbdbd;
            color: #434141;
        }